@model Exercise

@{
    ViewData["Title"] = "Details";
}

<h1 style="text-align: center;">@ViewData["Title"]</h1>

<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm" style="width: 1250px">
                <div class="card-body">
                    <div style="color: green; text-align: center;"><b>@Model.Name</b></div>
                    <br>
                    <div style="color: black"><b>Level:</b> @Model.Difficulty.ToString()</div>
                    <div style="color: black"><b>Muscle:</b> @Model.Muscle.ToString()</div>
                    <div style="color: black"><b>Exercise Type:</b> @Model.Type.ToString()</div>
                    <div style="color: black"><b>Equipment:</b> @Model.EquipmentName</div>
                    <br>
                    <br>
                    <div style="color: black"><b>Instructions:</b> @Model.Instructions</div>
                </div>
            </div>
        </div>
    </div>
</div>