@model IEnumerable<Exercise>

@{
    ViewData["Title"] = "All exercises";
}

<link rel='stylesheet' href='~/css/exercise.css'>

<br>
<br>

<h1 style="text-align: center;">@ViewData["Title"]</h1>

<br>
<br>

<div class="container">
    <div class="row">
        @foreach (var exercise in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <a class="details-link" asp-controller="Exercise" asp-action="Details" asp-route-id="@exercise.Id">
                        <div class="card-body all-items">
                            <img src="@exercise.GifUrl" alt="@exercise.Name"/>
                            <div class="tags">
                                <label class="exercise-body-part">@exercise.BodyPart</label>
                                <label class="exercise-target">@exercise.Target</label>
                            </div>
                            <div class="exercise-name"><b>@exercise.Name</b></div>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>