@model IEnumerable<SportSupplement>

@{
    ViewData["Title"] = "All sport supplements";

    var search = string.Empty;
}

<link rel='stylesheet' href='~/css/exercise.css'>

<h1 style="text-align: center; color: white;">
   All Sport Supplements
</h1>

<div class="container">
    <div class="row" id="exercises-list">
        @if (!Model.Any())
        {
            <div>Nothing was found!</div>
        }
        else
        {
            @foreach (var sportSupplement in Model)
            {
                <div id="exercise-list-item" class="col-md-4">
                    <div id="exercise-card" class="card mb-4 shadow-sm">
                        <a id="exercise-link" class="details-link" asp-controller="SportSupplement" asp-action="Details" asp-route-id="@sportSupplement.Id">
                            <div id="exercise-data" class="card-body all-items">
                                <img src="@sportSupplement.ImageUrl" alt="@sportSupplement.Name"/>
                                <div id="exercise-info" class="tags">
                                    <label id="body-part-field" class="exercise-body-part">@sportSupplement.ManufactureCountry</label>
                                    <label id="body-part-field" class="exercise-body-part">@sportSupplement.Quantity</label>
                                </div>
                                <div id="name-field" class="exercise-name"><b>@sportSupplement.Name</b></div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
</div>