@{
    var isAuthenticated = base.User.Identity.IsAuthenticated;

    var url = base.Context.Request.Path.ToString();

    var isMainPage = url == "/";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FitnessApp.Presentation.styles.css" asp-append-version="true" />
</head>
<body>
    @if (!isAuthenticated || isMainPage)
    {
        <style>
            .container {
                background-color: rgba(0, 0, 0, 0.65);
                width: 55%;
                height: 100%;
                display: inline-block;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 9998;
                }
        </style>

        <div class="background-image">
            <div class="content-container">
                <partial name="_HeaderPartial" model="@isAuthenticated" view-data="ViewData"/>

                <div class="logo-container">
                    <div class="logo-image">
                        <img src="~/Images/Logo.png">
                    </div>
                </div>

                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    }
    else
    {
        <partial name="_HeaderPartial" model="@isAuthenticated" view-data="ViewData"/>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }

    <script src="~/js/show-password.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>