@model List<FitnessApp.Core.Foods.Food>

@{
    ViewData["Title"] = "Food by Category";
    var foodParams = new FitnessApp.Core.Foods.Models.FilterFood();
}

<h1 style="text-align: center;">@ViewData["Title"]</h1>

<link rel='stylesheet' href='~/css/food.css'>
<link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins&amp;display=swap'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="container-category">
    <div class="left-column">
        <div class="row">
            @if (Model is not null)
            {
                @for (var i = 0; i < Model.Count; i++)
                {
                    if (i % 3 == 0)
                    {
                        @:</div><div class="row"> 
                    }

                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="@Model[i].Image" class="card-img-top" alt="FoodCover">
                            <div class="card-body">
                                <button type="button" class="button-link" onclick="location.href='@Url.Action("GetById", new { id = Model[i].Id, imageUrl = Model[i].Image })'">@Model[i].Title</button>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <div class="right-column" style="border: 1px solid black; text-align:center;">
        <h2>Enter Values for Search</h2>
        <form action="GetByCategory" method="post">

            <label asp-for="@foodParams.FoodType">Type: </label>
            <br>
            <input type="text" asp-for="@foodParams.FoodType" required>
            <br>
            
            <label asp-for="@foodParams.Diet">Diet: </label>
            <br>
            <select asp-for="@foodParams.Diet">
                <option value="Omnivore">Omnivore</option>
                <option value="Vegetarian">Vegetarian</option>
                <option value="Vegan">Vegan</option>
                <option value="Paleo">Paleo</option>
                <option value="Ketogenic">Ketogenic</option>
            </select>
            <br>

            <label asp-for="@foodParams.Intolerances">Intolerances: </label>
            <br>
            <input type="text" asp-for="@foodParams.Intolerances">
            <br>
           
            <label asp-for="@foodParams.MinProtein">Minimum Protein: </label>
            <br>
            <input type="number" value="10" min="10" asp-for="@foodParams.MinProtein">
            <br>
            
            <label asp-for="@foodParams.MaxProtein">Maximum Protein: </label>
            <br>
            <input type="number" value="100" max="100" asp-for="@foodParams.MaxProtein">
            <br>
           
            <label asp-for="@foodParams.MinCalories">Minimum Calories: </label>
            <br>
            <input type="number" value="50" min="50" asp-for="@foodParams.MinCalories">
            <br>
            
            <label asp-for="@foodParams.MaxCalories">Maximum Calories: </label>
            <br>
            <input type="number" value="800" max="800" asp-for="@foodParams.MaxCalories">
            <br>
            <br>

            <button class="button-17" role="button">Search</button>

        </form>

    </div>

</div>
